@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

li a:hover,
a:active {
    color: purple;
}

/***** reset *****/
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    vertical-align: top;
    border: 0;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
body {
    color: #333333;
}
h2 {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f8efed;
    font-family: "Jua", sans-serif;
    font-size: 20px;
    padding-left: 26rem;
}

div {
    display: block;
}

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 22rem;
    height: 100vh;
    background-color: #ccd8ed;
}

.contents {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.contentslist {
    list-style-type: none;
    padding-left: 0px;
    font-size: 1.8rem;
    color: white;
}

.contentslist a {
    color: white;
    text-decoration: none;
}

/***** sidenavLeft *****/
.sidenav {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 22rem;
    height: 100vh;
    background-color: #ccd8ed;
}

.wrap {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}

/***** header *****/
header {
    width: 100%;
    height: 100px;
    background: f8efed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
    position: relative;
}

/* logo */
header .logo {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

/***** imgSlide (페이드) *****/
.imgSlide1 {
    width: 1200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: auto;
}

/*
.imgSlide1 {width: 1200px; height: 300px; position: relative; 
        overflow: hidden;
        }
.imgSlide1 ul {width: 300%; height: 100%; position: absolute; }
.imgSlide1 ul li {float: left;}
.imgSlide1 ul li img {display: block;}
*/

.imgSlide2 {
    width: 1200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.imgSlide3 {
    width: 1200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.ad {
    max-width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    margin: auto;
}
