@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(242 237 215);
  font-family: "Jua", sans-serif;
  font-size: 20px;
  padding-left: 26rem;
  cursor: url(https://cur.cursors-4u.net/cursors/cur-6/cur544.cur), auto !important;
}

.hr {
  border: dashed 0.03rem;
  width: flex;
}

div {
  display: block;
}
.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 26rem;
  height: 100vh;
  background-color: rgb(58 99 81);
}
.navbarphoto {
  display: inline-block;
  font-size: 1.25rem;
  line-height: inherit;
}
#photo img {
  max-width: 10rem;
  max-height: 10rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}
.contents {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.contentslist {
  list-style-type: none;
  padding-left: 0px;
  font-size: 2rem;
  color: white;
}

.contentslist a {
  color: white;
  text-decoration: none;
}
.contentslist a:hover {
  color: rgb(228 129 87);
}
#logo {
  display: inline-block;
}
#logo img {
  float: left;
  width: 5rem;
  height: 5rem;
}

#clock {
  color: white;
  font-size: 1.5rem;
}

.lealbody {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
}
.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 20rem;
  padding-bottom: 6.8rem;
  max-width: 75rem;
}
.강조 {
  color: rgb(228 129 87);
  text-shadow: 3px 3px 3px rgb(250 200 100);
}
.introduction #purpose {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 3rem;
}
#purpose {
  text-shadow: 3px 3px 3px rgb(150 150 150);
}

.profile {
  padding-top: 5rem;
  font-size: 1.5rem;
}

.school {
  display: flex;
}

#culliculum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100vh;
  max-height: fit-content;
  background-color: rgb(58 85 81);
  color: white;
  font-size: 2rem;
  border-radius: 20px;
}
#culliculum li {
  cursor: pointer;
}

#cullibody {
  display: flex;
  justify-content: center;
  padding-left: 4rem;
}
#cullibody h1 {
  font-size: 2rem;
  color: rgb(228 129 87);
}
#cullibody summary {
  transform: scale(1);
  transition: 0.3s;
}
#cullibody summary:hover {
  color: rgb(58 99 81);
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}
#cullibody li {
  font-size: 1.5rem;
  color: rgb(58 99 81);
}

#mygrade {
  list-style-type: none;
}
#mygrade li:hover {
  color: rgb(228 129 87);
}

#grade1 {
  color: rgb(228 129 87);
}

.subj {
  display: none;
}

#grade1chart img {
  width: 25rem;
  height: 25rem;
  padding: 0px;
  padding-left: 8rem;
}

#grade2chart img {
  width: 37rem;
  height: 25rem;
  padding: 0px;
  padding-left: 2rem;
}

#grade3chart img {
  width: 35rem;
  height: 24rem;
  padding: 0px;
}

#grade4chart img {
  width: 40rem;
  height: 27rem;
  padding: 0px;
}

.intro h1 {
  font-size: 2.5rem;
}

.목표 {
  font-size: 1.5rem;
}

.결과물 {
  fint-size: 1.5rem;
}

.성과 {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  padding-right: 3rem;
}

.school img {
  width: 13rem;
  height: 13rem;
  max-width: 100%;
  height: auto;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.notschool {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding-left: 5rem;
  font-size: 2rem;
}

.notschool summary {
  transform: scale(1);
  transition: 0.3s;
}

.notschool summary:hover {
  cursor: pointer;
  color: rgb(58 70 10);
  transform: scale(1.02);
  transition: 0.5s;
}

.notschool img {
  cursor: pointer;
}

#비교과목적 {
  color: rgb(228 129 87);
}

.notschool img {
  width: 15rem;
  height: 15rem;
  max-width: 100%;
  height: auto;
}

.notschool p {
  font-size: 1.5rem;
  margin-top: 0rem;
}

.notschool details {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

#h1-비교과 {
  font-size: 3rem;
}

.비교과제목 {
  font-size: 2rem;
  color: rgb(228 129 87);
}

#성과 a {
  color: rgb(228 129 87);
}

#성과 {
  padding-top: 4rem;
}

.notschool span {
  padding-bottom: 5rem;
}

.studyhabit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.습관들 {
  display: flex;
}

.studyhabit h1 {
  font-size: 4rem;
  padding-bottom: 2rem;
  padding-top: 2.5rem;
}

.습관 {
  width: 20rem;
  height: 33rem;
  border: 2px solid rgb(58 99 81);
  border-radius: 5%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 11rem;

  display: flex;
  flex-direction: column;
}
.습관 h2 {
  color: rgb(228 129 87);
  font-size: 2.5rem;
  padding-top: 1.5rem;
}

.습관 p {
  padding-top: 2rem;
  font-size: 1.7rem;
}

.hobby {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  padding-bottom: 4.5rem;
}

.hobby h1 {
  font-size: 3.3rem;
  padding-top: 1.5rem;
  text-align: center;
}

.hobby img {
  width: 10rem;
  height: 10rem;
  border: 0.2rem solid rgb(58 70 10);
  border-radius: 50%;
}

.song {
  padding-top: 4rem;
  display: flex;
}
.song img {
  transform: scale(1);
  transition: 0.3s;
}
.song img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.intro {
  padding-left: 5rem;
  font-size: 2rem;
}

.will {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.will h1 {
  font-size: 3.5rem;
  padding-top: 3rem;
}

.will div {
  font-size: 2.5rem;
  padding-top: 10rem;
  padding-bottom: 25rem;
}

#choosetool {
  border: 1px;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  font-size: 1.5rem;
  background-color: rgb(228 129 87);
  color: white;
  cursor: pointer;
  margin-bottom: 1rem;
  text-align: center;
  transform: scale(1);
  transition: 0.3s;
}
#choosetool:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.calclass {
  margin-right: 2vw;
}

.painter {
  margin-left: 5rem;
}

#assignment {
  display: flex;
}

.calculdiv div {
  display: inline-block;
}

/*애니메이션*/
#first {
  animation: ani 1s 1 alternate;
}
#second {
  animation: ani 2s 1 alternate;
}
#third {
  animation: ani 3s 1 alternate;
}
.realbody {
  animation: ani 4s 1 alternate;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
